.site,.publication {
  background-image: url(grad.png);
  background-repeat:repeat-x;
  background-color: #C4E8EB;
}

/* -------------------------------------------------- */
.site{
  padding:30px 30px 0px;
  border-bottom: 1px solid #C7DFED;
  margin-bottom:30px;
}

.site .navigation > ul  {
  text-align:right;
}

.site .navigation > ul > li {
  display: inline-block;
  width: 120px;
  font-size:16px;
  font-weight:bold;
  text-align:center;
}

/* -------------------------------------------------- */
.publication{
  padding:10px 30px 0px;
  border-top: 1px solid #C7DFED;
}

.publication .navigation > div {
  vertical-align: top;
  display: inline-block;
  width: 200px;
}

.publication .navigation > h1.title {
  font-size:18px;
}
.publication .navigation > div > h2.title {
  font-size:16px;
}

.publication .credits {
  text-align: right;
}

.publication .credits > *{
  font-style:italic;
  text-align: right;
  margin:0;
}

/* -------------------------------------------------- */
.page .navigation {
  border: 1px solid #C7DFED;
  padding: 10px;
}

.page .navigation h1 {
    font-size:15px;
}

.errorlist{
    padding:.8em;margin-bottom:1em;border:2px solid #ddd;
    background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;
}

.errorlist > li{
    margin-left:20px;
}