{% extends "base.html" %}
{% block title %}SKK Sync/ホーム{% endblock %}
{% block content %}
<div class="span-16">
  <h1 class="title">あなたの辞書</h1>
  <table>
    <thead>
      <th>単語</th>
      <th>注釈</th>
      <th></th>
    </thead>
  {% for word in words %}
  <tr class="{% cycle odd,even %}">
    <td class="word">{{ word.word }}({{ word.yomi }})</td>
    <td class="yomi">{{ word.annotation|default:"" }}</td>
    <td class="edit">
      <form action="/dict/del" method="POST">
	<input type="hidden" name="key" value="{{ word.key }}" />
	<input type="image" src="/image/trash.gif" alt="削除" />
      </form>
    </td>
  </tr>
  {% endfor %}
  </table>

  <form action="/dict/add" method="POST">
    <fieldset>
      <legend>単語の追加</legend>
      {{ form }}
      <input type="submit" value="追加" />
    </fieldset>
  </form>
</div>

<div class="span-5 navigation">
  <h1><a href="/user/{{ nickname }}">{{ nickname }}</a></h1>
  <p>アカウント設定</p>
  <dl>
    <dt>登録単語数</dt><dd>{{ words_count }}個</dd>
    <dt>最終更新時刻</dt><dd>{{ last_mod|date:"r" }}</dd>
  </dl>
</div>
{% endblock %}
