{% extends "base.html" %}
{% block title %}SKK Sync/ホーム{% endblock %}
{% block content %}
<div class="span-16">
  <h1 class="title">あなたの辞書</h1>
  <table>
    <thead>
      <th>単語</th>
      <th>注釈</th>
    </thead>
  {% for word in words %}
  <tr class="{% cycle odd,even %}">
    <td>{{ word.word }}({{ word.yomi }})</td>
    <td>{{ word.annotation|default:"" }}</td>
  </tr>
  {% endfor %}
  </table>
  <p><a href="/dict/add">単語の追加</a></p>
</div>

<div class="span-5 navigation">
  <h1><a href="/user/{{ nickname }}">{{ nickname }}</a></h1>
  <p>アカウント設定</p>
  <dl>
    <dt>登録単語数</dt><dd>{{ words_count }}個</dd>
    <dt>最終更新時刻</dt><dd>{{ last_mod|date:"r" }}</dd>
  </dl>
</div>
{% endblock %}
