{% extends "base.html" %}
{% block content %}
  <h1 class="title">SKK Sync</h1>
  <h2 class="description">あなたの育てたSKK辞書を、インターネットを介して複数のパソコンで同期しよう!</h2>
  <blockquote>
    <p>sync for me, sync for you, sync for god</p>
  </blockquote>
  <div class="guide span-13 append-1">
    <h2>特徴</h2>
    <ul>
      <li>無料</li>
      <li>Web上での単語の追加・削除</li>
      <li><del>SKK辞書の同期・バックアップ</del></li>
      <li><del>SKK辞書の公開</del></li>
      <li><del>みんなのSKK辞書のインポート</del></li>
    </ul>

    <h2>使い方</h2>
    <ol>
      <li>サインアップ・アカウントの設定(Googleアカウントでログイン可能)</li>
      <li>同期クライアントのインストール</li>
      <li>さあ、同期しよう!</li>
    </ol>

    <h2>対応しているSKK</h2>
    <ul>
      <li><del><a href="http://aquaskk.sourceforge.jp/">AquaSKK(MacOS X)</a></del></li>
      <li><del>dd-skk(Emacs)</del></li>
    </ul>

    <h2>開発者の方へ</h2>
    <p>
      ウェブAPIを使えば、あなたの使っているSKK用の同期クライアントを開発できます。
      詳細は、APIリファレンスをご覧ください。
    </p>

    <h2>寄付</h2>
    <p>(準備中)</p>
  </div>

  <div class="statics span-7">
    <div class="recent">
      <h2>最近、登録された単語</h2>
      <table>
	<tr><td>鏑木</td><td>かぶらぎ</td></tr>
      </table>
    </div>

    <div class="popular">
      <h2>人気の単語</h2>
      <table>
	<tr><td>鏑木</td><td>かぶらぎ</td></tr>
      </table>
    </div>

    <div class="popular recent">
      <h2>最近、人気の単語</h2>
      <table>
	<tr><td>鏑木</td><td>かぶらぎ</td></tr>
      </table>
    </div>
  </div>
{% endblock %}
