<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <link rel="stylesheet" href="css/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="css/print.css" type="text/css" media="print" />
    <!--[if IE]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen, projection" /><![endif]-->
    <title>SKK Sync - sync your SKK dictionary</title>
  </head>
  <body>
    <div class="container">
      <div class="site">
	<h1 class="title">SKK Sync</h1>
	<h2 class="description">Sync your SKK dictionary</h2>
      </div>
      <div class="page">
      </div>
      <div class="site">
      </div>
    </div>
  </body>
</html>





